/*
            CSS

            BUSQUEDA {
                PROPIEDAD:VALOR-PROPIEDAD;
                PROPIEDAD:VALOR-PROPIEDAD;
                PROPIEDAD:VALOR-PROPIEDAD;
                PROPIEDAD:VALOR-PROPIEDAD;
            }


            ETIQUETA(h1) {
                COLOR:VERDE;
            }

            ID (titulo) {
                COLOR:AZUL;
            }


            CLASE (verde) {
                COLOR:VERDE;
            }

            CLASE (azul) {
                COLOR:AZUL;
            }

            busqueda complejas

            h1.amarillo.verde.rojo {

            }

            p.rojo {
            }

            ul.lista > li.item > a > span{
                color:black;
            }

            h1 + p + span + li + a{
                color:black;
            }






            <p class="azul amarillo verde">MMMM</p>

            ID > BUSQUEDAS COMPLEJAS > CLASE > ETIQUETA

            <h1 id="titulo" class="amarillo">OMG</h1>





            */
p {
    background-color: aliceblue;
}
#titulo {
    background-color: yellow;
}
.rojo {
    background-color: red;
}
.azul {
    background-color: blue;
}

p.rojo{
    background-color: darkblue;
}

p.azul.amarillo.rojo {
    background-color: greenyellow;
}

.amarillo {
    background-color: yellow;
}

ul > li.rojo > span{
    font-size: 30px;
}

h1 + p {
    background-color: brown;
}

@keyframes crecerCambiarColor {
    0%   {
        background-color: red;
        font-size: 16px;
    }
    25%  {
        background-color: yellow;
        font-size: 20px;
    }
    50%  {
        background-color: blue;
        font-size: 40px;
    }
    100% {
        background-color: red;
        font-size: 16px;
    }
}

.animacion {
    animation-name: crecerCambiarColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}