.btn-espaciado {
    margin-top: 10px;
    margin-bottom: 10px;
}

.quitar-decoracion:hover {
    text-decoration: none;
}

.btn-buscar {
    margin-top: 31px;
}

.animated {
    animation-duration: 2s;
}

.tamanio-imagen {
    height: 300px;
}


