<html>

<head>
    <title>HouseK</title>
    <% include ./partials/head.ejs %>

</head>
<body>
<% include ./partials/header.ejs %>


<div class="row" style="padding-top: 100px;">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="contenido">
        <h1 class="titulo">Ultimas propiedades en venta: </h1>
    <% publicaciones.forEach((publicacion)=>{ %>
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url(http://img2.rtve.es/v/4452138?w=1600&preview=1517516839899.jpg)">
                    </div>

                </div>
                <div class="description">
                    <h1 class="titulo"><%= publicacion.tituloPub %></h1>
                    <p><strong>Precio: </strong>$<%= publicacion.costoPub %></p>
                    <p class="date"><strong>Publicado: </strong><%= publicacion.fechaPub %></p>
                    <p class="read-more">
                        <a href="#"><button class="btn btn-dark">Saber más..</button></a>
                    </p>
                </div>


            </div>
        <% }) %>
    </div>
    <div class="col-md-2"></div>

</div>
</body>
</html>