<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intereses</title>
</head>
<body>
<h1>Tus Intereses: </h1>
<% intereses_usuario.intereses.forEach((publicacion)=>{ %>
    <h3><%= publicacion.tituloPub %></h3>
    <ul>
        <li>Precio: $<%= publicacion.costoPub %></li>
        <li>Publicado: <%= publicacion.fechaPub %></li>
    </ul>
<% }) %>
</body>
</html>