<html>

<head>
    <title>Tus Publicaciones</title>
    <% include ./partials/head.ejs %>
</head>
<body>
<h1>Tus publicaciones: </h1>
<% publicaciones_usuario.forEach((publicacion)=>{ %>
    <h3><%= publicacion.tituloPub %></h3>
            <ul>
                <li>Precio: $<%= publicacion.costoPub %></li>
                <li>Publicado: <%= publicacion.fechaPub %></li>
            </ul>
<% }) %>
</body>
</html>